@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&display=swap');
* {
    box-sizing: border-box;
    font-size: 16px;
}
/* styles for mobile first approach */

html {
    /* allows the scroll effect to be smooth*/
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}
a {
    color: #272341;
}
a:hover {
    color: #fff;
}

#website-link:hover {
    color: #a7acd9;
}
body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    line-height: 25px;
    margin: 0;
    padding: 0;
}

/* sections css */
#header {
    min-height: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0;
    background: #fff;
    font-weight: 400;
    color: #272341;
    margin-bottom: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    font-size: 1.5em;
    text-align: center;
}

#header, 
#about,
#contact, 
#footer {
    padding: 0 30px 30px 30px;
}

#project {
    padding: 0 1rem 4rem 1rem;
}

#footer {
    background-color: #333;
    padding: 3rem 0;
}

.social-links {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

svg {
    fill: #fff;
    transition: all .5s ease-out;
    width: 30px;
    cursor: pointer;
 
}

#footer hr {
    margin-top: 0;
    margin-bottom: 1rem;
    border: 0;
    width: 75%;
    border-top: 2px solid hsla(0,0%,100%,.1);
}

.footer-text {
    color: grey;
    text-align: center;
}

#name, .introduction {
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5em;
    font-size: 2rem;
}

.color-name {
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5em;
    font-size: 2rem;
    color: #a7acd9;
    
}

.btn  {
border: 3px solid #a7acd9;
background-color: #fff;
color: #9e8fb2;;
font-weight: 600;
font-size: 1.5rem;
margin-top: 20px;
}

.btn:hover {
    background-color: #9e8fb2;
    background-image: linear-gradient(315deg, #9e8fb2 0%, #a7acd9 74%);
    color: #fff;
    cursor: pointer;
    
}

a { /* header button */
    padding: 10px 20px;
    text-decoration: none;
}

#about {
    background-color: #9e8fb2;
    background-image: linear-gradient(315deg, #9e8fb2 0%, #a7acd9 74%);
    text-align: center;
    display: flex;
    justify-content: center;
}

.title { /* default title css */
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    padding: 4rem 0;
    text-align: center;
    margin: 0;
  
}


.bio { /* about image*/
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    max-width: 100%;
}

.wrapper-info-text {
    color: #fff;
    padding: 5px;

}

.abt-btn{
    background-color: transparent;
    color: white;
    border: 2px  solid #fff;
    margin-top: 20px;
    box-shadow: 0 1.5px 5px rgb(0 0 0 / 0.2);
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}


.abt-btn:hover {
    background-color: #fff;
    color: #9e8fb2;
    border: 2.5px  solid #9e8fb2;
    cursor: pointer;

     
}

button {
    padding: 10px 20px;
    margin: 15px 0; 
}



.grid-container {/* projects section (mobile)*/
    display: block;
    padding: 20px 10px;
  }
  
  .grid-container > div {

    text-align: center;
    padding: 20px 0;
  }

  .grid-container > .item1 {
      text-align: left;
  }

  h2 {
    margin: 0 !important;
    font-size: 18px;
  }

  .btn-live, .btn-repo {
      color: #272341;
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      border: #272341 solid 2px;
      background-color: #fff;
      cursor: pointer;
      margin: 1rem 0;
  }

  .btn-repo {
      border: none;
  }

  .btn-live:hover, .btn-repo:hover {
    background-color: #272341;
    color: #fff;
    border: #272341 solid 2px;
  }


  #contact {
    background-color: #9e8fb2;
    background-image: linear-gradient(315deg, #9e8fb2 0%, #a7acd9 74%);
    padding: 0 0 4rem 0;
    display: flex;
    justify-content: center;
}

.contact-text {
    color: #fff;
    font-size: 18px;
    text-align: center;
    margin: 0 0 1.5rem 0;
    line-height: 25px;
}

.btn-grp {
    display: grid;
    justify-content: center;
}

.btn-contact {
    background-color: transparent;
    border: 2.5px  solid #fff;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    margin: 0.5rem 1rem;
}

.btn-contact:hover {
    background-color: #fff;
    color: #9e8fb2;
    cursor: pointer;
}
/*Footer css*/
#footer {
    background-color: #333;
    padding: 3rem 0;
    display: flex;
    justify-content: center;
}

.social-links {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

svg {
    fill: #fff;
    transition: all .5s ease-out;
    width: 30px;
    cursor: pointer;
    transition: transform 1s;
}

svg:hover {
transform: translateY(-10px);

}

#footer hr {
    margin-top: 0;
    margin-bottom: 1rem;
    border: 0;
    width: 75%;
    border-top: 2px solid hsla(0,0%,100%,.1);
}

.footer-text {
    color: grey;
    text-align: center;
}
/*footer css end*/

.contact-container {
    text-align: center;
    padding: 0 40px;
}

i {
    cursor: pointer;
}

.portfolio-img {
    width: 100%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);
    border: 2px solid #272341;
}



/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);
    border: 2px solid #272341;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    top: 50%;
    right: 505px;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  

  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  .p-text {
      padding-bottom: 15px;
  }

@media (min-width:481px) /*and (max-width:768px) iPads and Tablets */ {

    #header {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .container {
        max-width: 1200px;
    }

    #intro {
        font-size: 2.5rem;
        line-height: 3rem;
        
    }
    
}



@media (min-width: 769px) /* small desktops */ {
    #header {
        display: flex;
        justify-content: left;
        text-align: left;
    }

  
    #intro {
        font-size: 3.5rem;
        line-height: 1;
        font-weight: 600;
        
    }
  
    #projects {
        background-color: #fff;
        height: 100vh;
        background-color: #fff;
        height: 75vh;
        position: relative;
    }
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-bottom: 40px;
        grid-auto-flow: row;
       
    }
    .image {
        display: block;
        text-align: right;
        padding: 0 4rem;
    }

    .introduction, 
    #name,
    .color-name {
        font-size: 2rem;
    }

    #about {
        clip-path: polygon(0 0, 100% 0%, 100% 82%, 0% 100%);
        padding-bottom: 5rem;
    }

    #contact {
        clip-path: polygon(0 15vh,100% 0,100% 100%,0 100%);
        padding-top: 5rem;
    }

    .btn-grp {
        display: flex;
        justify-content: center;
    }
    

}
@media (min-width: 1000px) /* small desktops */ {
.grid-container {
    display: grid;
    grid-template-columns: auto auto ;
    grid-gap: 10px;
    padding: 10px;
  }
  
  .grid-container > div {
    text-align: center;
    padding: 20px 0;
  }
  .introduction, 
  #name,
  .color-name {
      font-size: 3rem;
      line-height: 1.3em;
  }

  .item2 {
      width: 510px;
      margin-left: 15px;
  }


}

@media (min-width: 1200px) /* xtra large desktops */ {
#header {
    display: flex;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 40px;
}

#project {
    justify-content: center;
    display: flex;
}

.project-container {
    max-width: 1200px;
}
.image {
    display: block;
    text-align: right;
    padding: 0 4rem;
}

.title {
    font-size: 2.2rem;
}

.contact-text {
    font-size: 1.5rem
}


#intro {
    font-size: 4rem;
    line-height: 1;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: bold;
    margin-top: 0;
    
}
button {
    font-size: 18px;
}
.description {
    max-width: 700px;
    text-align: left;        
}

.header-container {
    display: block;
    max-width: 1400px;
}
.item2 {
    width: 550px;
    margin-left: 25px;
}

}